/* Container */

.hero-container {
  display: flex;
  gap: 45px;
  padding: 20px;

margin-left: 80px;
}

/* Sidebar */

.sidebar {
  width: 200px;
  border-right: 1px solid #ddd;
  padding-right: 20px;
}

.sidebar p {
  margin: 12px 0;
  cursor: pointer;
}

/* IMPORTANT FIX */

.carousel-wrapper {
  flex: 1;
  width: 100%;
  padding-left: 0px;
  padding-right: 60px;
  overflow: hidden;
min-height: 22rem;
}

/* Slide */

.slide {
  background: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  padding: 100px;
  height: 300px;
   width: 100%; 
  box-sizing: border-box;
}

.slide img {
  width: 300px;
  height:300px;
  object-fit: cover;
}

.text h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

/* DOTS */

.slick-dots li button:before {
  color: white;
}

.slick-dots li.slick-active button:before {
  color: red;
}

/* VERY IMPORTANT */

.slick-slider {
  width: 100%;
}

.slick-list {
  overflow: hidden;
}

/* Responsive */

@media (max-width: 768px) {

  .hero-container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid #ddd;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .slide {
    flex-direction: column;
    text-align: center;
    height: auto;
  }

  .slide img {
    width: 220px;
    margin-top: 20px;
  }

}