.category-container {
  padding: 60px 80px;
  background: #f6f6f6;
}

.category-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.category-label {
  color: #db4444;
  font-weight: 600;
  margin-bottom: 10px;
  display: block;
}

.category-header h2 {
  font-size: 32px;
  font-weight: 700;
}

.arrows button {
  border: none;
  background: #e5e5e5;
  padding: 10px;
  border-radius: 50%;
  margin-left: 10px;
  cursor: pointer;
}

.carousel-wrapper {
  overflow: hidden;
  width: 100%;
}

.category-slider {
  display: flex;
  gap: 20px;
  transition: transform 0.4s ease;
}

.category-card {
  min-width: 170px;
  height: 150px;

  border: 1px solid #ccc;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: white;
  cursor: pointer;
}

.icon {
  font-size: 28px;
  margin-bottom: 10px;
}