
.cart-container {
  width: 85%;
  margin: auto;
  padding: 40px 0;
  font-family: Arial, Helvetica, sans-serif;
}

.cart-table {
  width: 100%;
  border-collapse: collapse;
}

.cart-table th,
.cart-table td {
  padding: 18px;
  border-bottom: 1px solid #eee;
  text-align: center;
}

.product-info {
  display: flex;
  align-items: center;
  gap: 15px;
}

.product-info img {
  width: 60px;
}

.remove-btn {
  background: red;
  color: white;
  border: none;
  padding: 6px 10px;
  cursor: pointer;
  border-radius: 50%;
}

.qty-dropdown {
  padding: 8px;
  width: 70px;
}

/* Buttons below table */

.cart-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.return-btn {
  padding: 12px 20px;
  border: 1px solid #999;
  background: white;
  cursor: pointer;
}

.update-btn {
  padding: 12px 20px;
  border: 1px solid #999;
  background: white;
  cursor: pointer;
}

/* Cart Total */

.cart-total {
  width: 320px;
  border: 1px solid #ccc;
  padding: 25px;
  margin-top: 40px;
  margin-left: auto;
}

.total-row {
  display: flex;
  justify-content: space-between;
  margin: 12px 0;
}

.total {
  font-weight: bold;
}

.checkout-btn {
  width: 100%;
  background: #db4444;
  color: white;
  border: none;
  padding: 14px;
  margin-top: 15px;
  cursor: pointer;
}
.coupon input {
    margin-top: 40px;
  padding: 12px;
  width: 220px;
  border: 1px solid #ccc;
}

.apply-btn {
  background: #db4444;
  color: white;
  border: none;
  padding: 12px 20px;
  margin-left: 10px;
  cursor: pointer;
}
.down{
    display: flex;
    margin-top: 0px;
}