
/* Container */

.signup-container {
  display: flex;
  min-height: 100vh;
  width: 100%;
}

/* LEFT SIDE */

.left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.left img {
  width: 100%;
  height: 75%;
  object-fit: cover;
}

/* RIGHT SIDE */

.right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
}

/* FORM */

.form-box {
  width: 100%;
  max-width: 360px;
}

.right h2 {
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 10px;
}

.right p {
  font-size: 16px;
  margin-bottom: 20px;
}

/* INPUT */

.form-box input {
  width: 100%;
  padding: 12px;
  margin-bottom: 16px;
  border: none;
  border-bottom: 1px solid #ccc;
  font-size: 14px;
  outline: none;
}

/* BUTTON */

.signup-btn {
  width: 100%;
  padding: 12px;
  background-color: #db4444;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 5px;
  font-size: 16px;
}

.signup-btn:hover {
  opacity: 0.9;
}

/* GOOGLE BUTTON */

.google-btn {
  width: 100%;
  padding: 10px;
  margin-top: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid #ccc;
  background: white;
  cursor: pointer;
}

.google-btn img {
  width: 20px;
}

/* LOGIN TEXT */

.login-text {
  text-align: center;
  margin-top: 14px;
  font-size: 14px;
}

.active-link {
  color: #db4444;
  text-decoration: none;
  font-weight: 500;
}
.password-rules {
  font-size: 13px;
  color: #666;
  margin-top: 6px;
  line-height: 1.4;
}
/* ======================= */
/* RESPONSIVE DESIGN */
/* ======================= */

/* Tablet */

@media (max-width: 1024px) {
  .right h2 {
    font-size: 30px;
  }

  .form-box {
    max-width: 320px;
  }
}

/* Mobile */

@media (max-width: 768px) {

  .signup-container {
    flex-direction: column;
  }

  .left {
    height: 250px;
  }

  .right {
    padding: 30px 20px;
  }

  .right h2 {
    font-size: 26px;
  }

  .form-box {
    max-width: 100%;
  }

}

/* Small Mobile */

@media (max-width: 480px) {

  .left {
    height: 200px;
  }

  .right h2 {
    font-size: 22px;
  }

  .form-box input {
    padding: 10px;
  }

  .signup-btn {
    padding: 10px;
  }

}